h1 Markdown Demo
h2 scope
div(markdown="demo.text" math-jax)
h2 inline
div(markdown)
  | ## **halli hallo**
h2 Eingabe
textarea(ng-model="demo.text")
textarea(ng-model="demo.text2")
marked(label="Editor" text="demo.text")