.row: .col-sm-12
  h3(ng-bind="marked.label")
  ul.nav.nav-tabs
    li(ng-class="{'active': 'markdown'}[marked.mode]")
      button.btn.btn-default(type="button" ng-click="marked.mode='write'") Markdown
    li(ng-class="{'active': 'preview'}[marked.mode]")
      button.btn.btn-default(type="button" ng-click="marked.mode='preview'") Vorschau
    li(ng-class="{'active': 'both'}[marked.mode]")
      button.btn.btn-default(type="button" ng-click="marked.mode='both'") nebeneinander
.row(ng-switch="marked.mode")
  .col-sm-12(ng-switch-when="markdown")
    textarea.form-control(ng-model="marked.markdown")
  .col-sm-12(ng-switch-when="preview" markdown="marked.markdown" editor)
  .col-sm-6(ng-switch-when="both")
    textarea.form-control(ng-model="marked.markdown")
  .col-sm-6(ng-switch-when="both" markdown="marked.markdown" editor)
